@import 'tailwindcss';
@source './**/*.{html,ts}';

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
}

.button {
  @apply rounded bg-brand-600 hover:bg-brand-700 text-white font-bold py-2 px-4 transition cursor-pointer flex gap-2 items-center text-center justify-center;
}
